@import "tailwindcss";
@import "@nuxt/ui";

:root {
    --default-font-family: monospace, ui-monospace, sans-serif;
}

/* Custom scrollbar */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: var(--background-color-default);
    border-radius: var(--radius-sm);
}

::-webkit-scrollbar-thumb {
    background: var(--background-color-accented);
    border-radius: var(--radius-sm);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--background-color-accented);
}